
/* imports----------------------------------------------------------------------------------------------------------------------------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;800&display=swap');



/* default-styles--------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

:root {

/* Primary */

--red: hsl(1, 90%, 64%);
--blue: hsl(219, 85%, 26%);

/* Neutral */

--white: hsl(0, 0%, 100%);
--very-light-grayish-blue: hsl(210, 60%, 98%);
--light-grayish-blue-1: hsl(211, 68%, 94%);
--light-grayish-blue-2: hsl(205, 33%, 90%);
--grayish-blue: hsl(219, 14%, 63%);
--dark-grayish-blue: hsl(219, 12%, 42%);
--very-dark-blue: hsl(224, 21%, 14%);

/* fonts  */

--plus-jakarta: 'Plus Jakarta Sans', sans-serif;
}



* {
    box-sizing: border-box;
}


img {
    max-width: 100%;
}


body {
    font-family: var(--plus-jakarta);
    padding: 0;
    display: grid;
    place-items: center;
    background: radial-gradient(circle, rgba(213, 226, 247, 0.489) 0%, rgba(152, 249, 248, 0.152) 100%);
}


a {
    text-decoration: none;
    color: var(--very-dark-blue);
}



header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-inline: 0.3em;
}


main {
    display: flex;
    flex-direction: column;
    /* border: 1px solid; */
    width: 20em;
    gap: 1em; 
    padding-block-end: 1em;
    background: white;
    border-radius: 0.3em;
}


.heading {
    font-size: 1.2rem;
}


.mark_all {
    border: none;
    outline: none;
    color: var(--blue);
    background: none;
    cursor: pointer;
    font-size: 1rem;
}



.notifications {
    display: inline-block;
    font-size: 0.8em;
    width: 1.4em;
    position: relative;
    top: -3px;
    text-align: center;
    border: 1px solid;
    border-radius: 0.2em;
    padding: 0 0.3em;
    padding-block-end: 0.1em;
    margin-inline-start: 0.2em;  
    outline: none;
    border: none;
    background-color: var(--blue);
    color: var(--white);
}


.top_three {
    padding-inline: 0.4em;
    display: flex;
    flex-direction: column;
    gap: 0.4em;
}



.figure {
    /* border: 1px solid; */
    border-radius: 0.2em;
    display: flex;
    gap: 0.5em;
    font-size: 1rem;
    padding: 0.5em 0.5em 0.5em;
    background-color: var(--very-light-grayish-blue);
    box-shadow: 0px 1px 3px var(--light-grayish-blue-2);
    /* width: 18em; */
    cursor: pointer;
}



.figure.no_background {
    background: transparent;
    box-shadow: none;
}


.content_ {
    padding-inline-end: 2.5em;
    /* width: 100%; */
    line-height: 1em;
    color: var(--grayish-blue);
    font-size: 0.87rem;
}


.mark_image {
    width: 3em;
}


.angela_image {
    width: 2em;
}



.jacob_image {
    width: 2.2em;
}


.nathan_image {
    width: 3.7em;
}


.profile_name {
    font-weight: 600;
    font-size: 0.674rem;
    color: var(--very-dark-blue);
}


.profile_name:hover {
    color: var(--blue);
}


.content_link {
    color: var(--dark-grayish-blue);
    font-weight: 800;
    margin-block-start: 0;
    font-size: 0.68rem;
}



.content_link.chess {
    color: var(--blue);
}



.content_link.tournament {
    color: var(--blue);
}


.red_dot {
    display: inline-block;
    border-radius: 50%;
    background-color: var(--red);
    width: 7px;
    height: 7px;
}


.notification_time {
    display: block;
    font-size: 0.7em;
    color: var(--grayish-blue);
    padding-block-start: 0.3em;
}


.last_four {
    display: grid;
    gap: 0.3em;
}



.message_box {
    appearance: none;
    border: 1px solid var(--light-grayish-blue-2);
    padding: 0.7em;
    padding-inline: 1.5em;
    font-size: 0.7rem;
    margin-block-start: 0.7em;
    border-radius: 0.5em;
    box-shadow: 0 0.3px 0.3px;
    color: var(--blue);
    outline: none;
}


.message_box:hover {
    background: var(--very-light-grayish-blue)
}


.kimberly_image {
    width: 2.1em;
}


.content_.kimberly {
    display: flex;
    gap: 1.5em;
    padding-inline-end: 3em;
}


.chess_image {
    width: 2.5em;
    margin-block-start: 0.2em;
}


.notification_time.kimberly {
    padding-block-start: 0.3em;
}


.anna_image {
    width: 1.9em;
}

.none {
    background: transparent;
    border: none;
    box-shadow: none;
}


@media (min-width: 800px) {

    main {
        width: 35em;
    }


    .mark_image {
        width: 2em;
    }

    .rizky_image {
        width: 3.5em;
    }

    .jacob_image {
        width: 2em;
    }


    .nathan_image {
        width: 2em;
    }
}

